<a href="https://colab.research.google.com/github/purva1803/Data-_Visualization/blob/main/Week_4(Data_analytics_Internship).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

**Loading Datasets**

In [ ]:
country = pd.read_csv("/content/Metadata_Country.csv")
population = pd.read_csv("/content/country_population.csv")
fertility = pd.read_csv("/content/fertility_rate.csv")
life_expectancy = pd.read_csv("/content/life_expectancy.csv")

data = {
    'country': country,
    'population': population,
    'fertility': fertility,
    'life_expectancy': life_expectancy
}

**For first 5 values of 'country' dataset**

In [ ]:
country.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba,NaN
1,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra,NaN

In [ ]:
country = country[['Country Code','Region']]
country.shape

(263, 2)

**To check missing values in Country dataset**

In [ ]:
country.isna().sum()

Country Code     0
Region          46
dtype: int64

**For first 5 values of Population dataset**

In [ ]:
population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0

**To check missing values in Country dataset**

In [ ]:
population.isna().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              4
                 ..
2012              2
2013              2
2014              2
2015              2
2016              2
Length: 61, dtype: int64

**For first 5 values of Fertility dataset**

In [ ]:
fertility.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820,4.655,4.471,4.271,4.059,3.842,...,1.763,1.764,1.769,1.776,1.783,1.791,1.796,1.800,1.801,1.800
1,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.450,7.450,7.450,7.450,7.450,7.450,...,6.460,6.254,6.038,5.816,5.595,5.380,5.174,4.981,4.802,4.635
2,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.478,7.524,7.563,7.592,7.611,7.619,...,6.368,6.307,6.238,6.162,6.082,6.000,5.920,5.841,5.766,5.694
3,Albania,ALB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.489,6.401,6.282,6.133,5.960,5.773,...,1.668,1.650,1.646,1.653,1.668,1.685,1.700,1.710,1.714,1.713
4,Andorra,AND,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.180,1.250,1.190,1.270,NaN,NaN,NaN,NaN,NaN,NaN

**For first 5 values of Life Expectancy dataset**

In [ ]:
life_expectancy.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662,66.074,66.444,66.787,67.113,67.435,...,74.576,74.725,74.872,75.016,75.158,75.299,75.440,75.582,75.725,75.867
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.292,32.742,33.185,33.624,34.060,34.495,...,59.694,60.243,60.754,61.226,61.666,62.086,62.494,62.895,63.288,63.673
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.251,33.573,33.914,34.272,34.645,35.031,...,55.096,56.189,57.231,58.192,59.042,59.770,60.373,60.858,61.241,61.547
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.279,63.298,64.187,64.911,65.461,65.848,...,75.656,75.943,76.281,76.652,77.031,77.389,77.702,77.963,78.174,78.345
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
years = [str(i) for i in range(1960,2017)]

# Data Cleaning

---

**Dropping columns Indicator Name and Indicator Code**

In [ ]:
population.drop(['Indicator Name','Indicator Code'],axis = 1, inplace = True)

In [ ]:
population.isna().sum()

Country Name    0
Country Code    0
1960            4
1961            4
1962            4
1963            4
1964            4
1965            4
1966            4
1967            4
1968            4
1969            4
1970            4
1971            4
1972            4
1973            4
1974            4
1975            4
1976            4
1977            4
1978            4
1979            4
1980            4
1981            4
1982            4
1983            4
1984            4
1985            4
1986            4
1987            4
1988            4
1989            4
1990            2
1991            2
1992            3
1993            3
1994            3
1995            2
1996            2
1997            2
1998            1
1999            1
2000            1
2001            1
2002            1
2003            1
2004            1
2005            1
2006            1
2007            1
2008            1
2009            1
2010            1
2011            1
2012            2
2013            2
2014            2
2015            2
2016            2
dtype: int64

**Replacing mean values of the columns with the NaN values**

In [ ]:
years = list(map(str, range(1960, 2017)))
population[years] = population[years].round(decimals=1).astype('float64')
population[years] = population[years].apply(lambda col: col.fillna(col.mean()), axis=0)
population.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0

In [ ]:
population.isna().sum()

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
dtype: int64

In [ ]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   1960          264 non-null    float64
 3   1961          264 non-null    float64
 4   1962          264 non-null    float64
 5   1963          264 non-null    float64
 6   1964          264 non-null    float64
 7   1965          264 non-null    float64
 8   1966          264 non-null    float64
 9   1967          264 non-null    float64
 10  1968          264 non-null    float64
 11  1969          264 non-null    float64
 12  1970          264 non-null    float64
 13  1971          264 non-null    float64
 14  1972          264 non-null    float64
 15  1973          264 non-null    float64
 16  1974          264 non-null    float64
 17  1975          264 non-null    float64
 18  1976          264 non-null    float64
 19  1977          264 non-null    float64
 20  1978          264 non-null    float64
 21  1979          264 non-null    float64
 22  1980          264 non-null    float64
 23  1981          264 non-null    float64
 24  1982          264 non-null    float64
 25  1983          264 non-null    float64
 26  1984          264 non-null    float64
 27  1985          264 non-null    float64
 28  1986          264 non-null    float64
 29  1987          264 non-null    float64
 30  1988          264 non-null    float64
 31  1989          264 non-null    float64
 32  1990          264 non-null    float64
 33  1991          264 non-null    float64
 34  1992          264 non-null    float64
 35  1993          264 non-null    float64
 36  1994          264 non-null    float64
 37  1995          264 non-null    float64
 38  1996          264 non-null    float64
 39  1997          264 non-null    float64
 40  1998          264 non-null    float64
 41  1999          264 non-null    float64
 42  2000          264 non-null    float64
 43  2001          264 non-null    float64
 44  2002          264 non-null    float64
 45  2003          264 non-null    float64
 46  2004          264 non-null    float64
 47  2005          264 non-null    float64
 48  2006          264 non-null    float64
 49  2007          264 non-null    float64
 50  2008          264 non-null    float64
 51  2009          264 non-null    float64
 52  2010          264 non-null    float64
 53  2011          264 non-null    float64
 54  2012          264 non-null    float64
 55  2013          264 non-null    float64
 56  2014          264 non-null    float64
 57  2015          264 non-null    float64
 58  2016          264 non-null    float64
dtypes: float64(57), object(2)
memory usage: 121.8+ KB

**Melting the dataset**

In [ ]:
df = pd.melt(population,
        id_vars='Country Code',
        value_vars=years,
        var_name='Year',
        value_name='Population')

In [ ]:
df.head()

  Country Code  Year  Population
0          ABW  1960     54211.0
1          AFG  1960   8996351.0
2          AGO  1960   5643182.0
3          ALB  1960   1608800.0
4          AND  1960     13411.0

In [ ]:
df.isna().sum()

Country Code    0
Year            0
Population      0
dtype: int64

In [ ]:
df_merged = pd.merge(country,df,how='left',on='Country Code')
df_merged.head()

  Country Code                     Region  Year  Population
0          ABW  Latin America & Caribbean  1960     54211.0
1          ABW  Latin America & Caribbean  1961     55438.0
2          ABW  Latin America & Caribbean  1962     56225.0
3          ABW  Latin America & Caribbean  1963     56695.0
4          ABW  Latin America & Caribbean  1964     57032.0

**Life Expectancy Dataset**

In [ ]:
life_expectancy.drop(['Indicator Name','Indicator Code'],axis = 1, inplace = True)

In [ ]:
life_expectancy.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,65.662,66.074,66.444,66.787,67.113,67.435,67.762,68.095,...,74.576,74.725,74.872,75.016,75.158,75.299,75.440,75.582,75.725,75.867
1,Afghanistan,AFG,32.292,32.742,33.185,33.624,34.060,34.495,34.928,35.361,...,59.694,60.243,60.754,61.226,61.666,62.086,62.494,62.895,63.288,63.673
2,Angola,AGO,33.251,33.573,33.914,34.272,34.645,35.031,35.426,35.828,...,55.096,56.189,57.231,58.192,59.042,59.770,60.373,60.858,61.241,61.547
3,Albania,ALB,62.279,63.298,64.187,64.911,65.461,65.848,66.108,66.302,...,75.656,75.943,76.281,76.652,77.031,77.389,77.702,77.963,78.174,78.345
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
life_expectancy.dropna(axis=0, inplace=True)

In [ ]:
df_2 = pd.melt(life_expectancy,
             id_vars ='Country Code',
             value_vars = years,
             var_name ='Year',
             value_name = 'life_expectency'
             )

df_2.head()

  Country Code  Year  life_expectency
0          ABW  1960        65.662000
1          AFG  1960        32.292000
2          AGO  1960        33.251000
3          ALB  1960        62.279000
4          ARB  1960        46.825065

In [ ]:
df_2.shape

(13395, 3)

In [ ]:
df_merged.head()

  Country Code                     Region  Year  Population
0          ABW  Latin America & Caribbean  1960     54211.0
1          ABW  Latin America & Caribbean  1961     55438.0
2          ABW  Latin America & Caribbean  1962     56225.0
3          ABW  Latin America & Caribbean  1963     56695.0
4          ABW  Latin America & Caribbean  1964     57032.0

**Fertility Dataset**

In [ ]:
fertility.drop(columns=['Indicator Name','Indicator Code'], inplace=True)

In [ ]:
# Checking for Null values in population dataset
fertility.isna().sum()

Country Name     0
Country Code     0
1960            28
1961            27
1962            28
1963            29
1964            28
1965            28
1966            28
1967            28
1968            28
1969            28
1970            27
1971            26
1972            25
1973            27
1974            27
1975            26
1976            25
1977            26
1978            26
1979            26
1980            26
1981            24
1982            21
1983            24
1984            24
1985            24
1986            24
1987            20
1988            24
1989            24
1990            22
1991            22
1992            19
1993            23
1994            22
1995            20
1996            23
1997            19
1998            22
1999            21
2000            18
2001            18
2002            16
2003            18
2004            19
2005            17
2006            16
2007            15
2008            16
2009            16
2010            17
2011            16
2012            16
2013            18
2014            18
2015            17
2016            18
dtype: int64

In [ ]:
# Replacing NAN values with mean value
years = [str(year) for year in range(1960, 2017)]
fertility[years] = fertility[years].round(decimals = 1)
fertility[years] = fertility[years].astype('float64')

for year in years:
    fertility[year].fillna(fertility[year].mean(), inplace=True)
fertility.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,4.800000,4.700000,4.500000,4.300000,4.100000,3.800000,3.600000,3.400000,...,1.8,1.8,1.8,1.8,1.800000,1.800000,1.800000,1.800000,1.800000,1.800000
1,Afghanistan,AFG,7.400000,7.400000,7.400000,7.400000,7.400000,7.400000,7.400000,7.400000,...,6.5,6.3,6.0,5.8,5.600000,5.400000,5.200000,5.000000,4.800000,4.600000
2,Angola,AGO,7.500000,7.500000,7.600000,7.600000,7.600000,7.600000,7.600000,7.600000,...,6.4,6.3,6.2,6.2,6.100000,6.000000,5.900000,5.800000,5.800000,5.700000
3,Albania,ALB,6.500000,6.400000,6.300000,6.100000,6.000000,5.800000,5.600000,5.400000,...,1.7,1.6,1.6,1.7,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000
4,Andorra,AND,5.506356,5.493249,5.494492,5.493617,5.461441,5.415678,5.368644,5.326271,...,1.2,1.2,1.2,1.3,2.877419,2.840726,2.819512,2.789431,2.753036,2.730894

In [ ]:
fertility.isna().sum()

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
dtype: int64

In [ ]:
data

{'country':     Country Code                      Region          IncomeGroup  \
 0            ABW   Latin America & Caribbean          High income
 1            AFG                  South Asia           Low income
 2            AGO          Sub-Saharan Africa  Lower middle income
 3            ALB       Europe & Central Asia  Upper middle income
 4            AND       Europe & Central Asia          High income
 ..           ...                         ...                  ...
 258          XKX       Europe & Central Asia  Lower middle income
 259          YEM  Middle East & North Africa  Lower middle income
 260          ZAF          Sub-Saharan Africa  Upper middle income
 261          ZMB          Sub-Saharan Africa  Lower middle income
 262          ZWE          Sub-Saharan Africa           Low income

                                           SpecialNotes     TableName  \
 0    SNA data for 2000-2011 are updated from offici...         Aruba
 1    Fiscal year end: March 20; reporting period fo...   Afghanistan
 2                                                  NaN        Angola
 3                                                  NaN       Albania
 4    WB-3 code changed from ADO to AND to align wit...       Andorra
 ..                                                 ...           ...
 258  WB-3 code changed from KSV to XKX to align wit...        Kosovo
 259  Based on official government statistics and In...   Yemen, Rep.
 260  Fiscal year end: March 31; reporting period fo...  South Africa
 261  The base year is 2010. National accounts data ...        Zambia
 262  Fiscal year end: June 30; reporting period for...      Zimbabwe

      Unnamed: 5
 0           NaN
 1           NaN
 2           NaN
 3           NaN
 4           NaN
 ..          ...
 258         NaN
 259         NaN
 260         NaN
 261         NaN
 262         NaN

 [263 rows x 6 columns],
 'population':      Country Name Country Code        1960        1961        1962  \
 0           Aruba          ABW     54211.0     55438.0     56225.0
 1     Afghanistan          AFG   8996351.0   9166764.0   9345868.0
 2          Angola          AGO   5643182.0   5753024.0   5866061.0
 3         Albania          ALB   1608800.0   1659800.0   1711319.0
 4         Andorra          AND     13411.0     14375.0     15370.0
 ..            ...          ...         ...         ...         ...
 259        Kosovo          XKX    947000.0    966000.0    994000.0
 260   Yemen, Rep.          YEM   5172135.0   5260501.0   5351799.0
 261  South Africa          ZAF  17456855.0  17920673.0  18401608.0
 262        Zambia          ZMB   3044846.0   3140264.0   3240587.0
 263      Zimbabwe          ZWE   3747369.0   3870756.0   3999419.0

            1963        1964        1965        1966        1967  ...  \
 0       56695.0     57032.0     57360.0     57715.0     58055.0  ...
 1     9533954.0   9731361.0   9938414.0  10152331.0  10372630.0  ...
 2     5980417.0   6093321.0   6203299.0   6309770.0   6414995.0  ...
 3     1762621.0   1814135.0   1864791.0   1914573.0   1965598.0  ...
 4       16412.0     17469.0     18549.0     19647.0     20758.0  ...
 ..          ...         ...         ...         ...         ...  ...
 259   1022000.0   1050000.0   1078000.0   1106000.0   1135000.0  ...
 260   5446063.0   5543339.0   5643643.0   5748588.0   5858638.0  ...
 261  18899275.0  19412975.0  19942303.0  20486439.0  21045785.0  ...
 262   3345145.0   3452942.0   3563407.0   3676189.0   3791887.0  ...
 263   4132756.0   4269863.0   4410212.0   4553433.0   4700041.0  ...

            2007        2008        2009        2010        2011        2012  \
 0      101220.0    101353.0    101453.0    101669.0    102053.0    102577.0
 1    26616792.0  27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
 2    20997687.0  21759420.0  22549547.0  23369131.0  24218565.0  25096150.0
 3     2970017.0   2947314.0   2927519.0   2913021.0   2905195.0   2900401.0
 4       82683.0     83861.0     84462.0     84449.0     83751.0     82431.0
 ..          ...         ...         ...         ...         ...         ...
 259   1733404.0   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0
 260  21751605.0  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
 261  49887181.0  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0
 262  12725974.0  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0
 263  13329909.0  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

            2013        2014        2015        2016
 0      103187.0    103795.0    104341.0    104822.0
 1    31731688.0  32758020.0  33736494.0  34656032.0
 2    25998340.0  26920466.0  27859305.0  28813463.0
 3     2895092.0   2889104.0   2880703.0   2876101.0
 4       80788.0     79223.0     78014.0     77281.0
 ..          ...         ...         ...         ...
 259   1824100.0   1821800.0   1801800.0   1816200.0
 260  25576322.0  26246327.0  26916207.0  27584213.0
 261  53767396.0  54539571.0  55291225.0  56015473.0
 262  15153210.0  15620974.0  16100587.0  16591390.0
 263  15054506.0  15411675.0  15777451.0  16150362.0

 [264 rows x 59 columns],
 'fertility':      Country Name Country Code      1960      1961      1962      1963  \
 0           Aruba          ABW  4.800000  4.700000  4.500000  4.300000
 1     Afghanistan          AFG  7.400000  7.400000  7.400000  7.400000
 2          Angola          AGO  7.500000  7.500000  7.600000  7.600000
 3         Albania          ALB  6.500000  6.400000  6.300000  6.100000
 4         Andorra          AND  5.506356  5.493249  5.494492  5.493617
 ..            ...          ...       ...       ...       ...       ...
 259        Kosovo          XKX  5.506356  5.493249  5.494492  5.493617
 260   Yemen, Rep.          YEM  7.500000  7.500000  7.600000  7.600000
 261  South Africa          ZAF  6.000000  6.000000  6.000000  6.000000
 262        Zambia          ZMB  7.100000  7.200000  7.200000  7.200000
 263      Zimbabwe          ZWE  7.200000  7.200000  7.300000  7.300000

          1964      1965      1966      1967  ...  2007  2008  2009  2010  \
 0    4.100000  3.800000  3.600000  3.400000  ...   1.8   1.8   1.8   1.8
 1    7.400000  7.400000  7.400000  7.400000  ...   6.5   6.3   6.0   5.8
 2    7.600000  7.600000  7.600000  7.600000  ...   6.4   6.3   6.2   6.2
 3    6.000000  5.800000  5.600000  5.400000  ...   1.7   1.6   1.6   1.7
 4    5.461441  5.415678  5.368644  5.326271  ...   1.2   1.2   1.2   1.3
 ..        ...       ...       ...       ...  ...   ...   ...   ...   ...
 259  5.461441  5.415678  5.368644  5.326271  ...   2.4   2.4   2.3   2.3
 260  7.700000  7.700000  7.700000  7.800000  ...   5.1   4.9   4.8   4.7
 261  6.000000  5.900000  5.900000  5.800000  ...   2.6   2.6   2.6   2.6
 262  7.300000  7.300000  7.300000  7.300000  ...   5.6   5.6   5.5   5.4
 263  7.300000  7.400000  7.400000  7.400000  ...   4.0   4.0   4.0   4.0

          2011      2012      2013      2014      2015      2016
 0    1.800000  1.800000  1.800000  1.800000  1.800000  1.800000
 1    5.600000  5.400000  5.200000  5.000000  4.800000  4.600000
 2    6.100000  6.000000  5.900000  5.800000  5.800000  5.700000
 3    1.700000  1.700000  1.700000  1.700000  1.700000  1.700000
 4    2.877419  2.840726  2.819512  2.789431  2.753036  2.730894
 ..        ...       ...       ...       ...       ...       ...
 259  2.200000  2.200000  2.200000  2.100000  2.100000  2.100000
 260  4.600000  4.400000  4.300000  4.200000  4.100000  4.000000
 261  2.600000  2.600000  2.500000  2.500000  2.500000  2.500000
 262  5.300000  5.200000  5.200000  5.100000  5.000000  5.000000
 263  4.000000  4.000000  4.000000  3.900000  3.800000  3.800000

 [264 rows x 59 columns],
 'life_expectancy':      Country Name Country Code       1960       1961       1962       1963  \
 0           Aruba          ABW  65.662000  66.074000  66.444000  66.787000
 1     Afghanistan          AFG  32.292000  32.742000  33.185000  33.624000
 2          Angola          AGO  33.251000  33.573000  33.914000  34.272000
 3         Albania          ALB  62.279000  63.298000  64.187000  64.911000
 5      Arab World          ARB  46.825065  47.407699  47.988878  48.572229
 ..            ...          ...        ...        ...        ...        ...
 258         Samoa          WSM  49.748000  50.249000  50.750000  51.252000
 260   Yemen, Rep.          YEM  34.361000  34.471000  34.739000  35.187000
 261  South Africa          ZAF  52.215000  52.559000  52.894000  53.229000
 262        Zambia          ZMB  45.124000  45.502000  45.869000  46.225000
 263      Zimbabwe          ZWE  51.565000  51.938000  52.300000  52.651000

           1964       1965    1966       1967  ...       2007      2008  \
 0    67.113000  67.435000  67.762  68.095000  ...  74.576000  74.72500
 1    34.060000  34.495000  34.928  35.361000  ...  59.694000  60.24300
 2    34.645000  35.031000  35.426  35.828000  ...  55.096000  56.18900
 3    65.461000  65.848000  66.108  66.302000  ...  75.656000  75.94300
 5    49.159167  49.744338  50.319  50.876461  ...  69.424552  69.64697
 ..         ...        ...     ...        ...  ...        ...       ...
 258  51.756000  52.261000  52.766  53.271000  ...  71.866000  72.28800
 260  35.815000  36.597000  37.488  38.427000  ...  62.552000  62.88800
 261  53.571000  53.926000  54.301  54.691000  ...  53.010000  53.72000
 262  46.574000  46.929000  47.302  47.701000  ...  52.313000  53.74900
 263  52.993000  53.325000  53.648  53.965000  ...  47.719000  49.33700

           2009       2010       2011       2012       2013       2014  \
 0    74.872000  75.016000  75.158000  75.299000  75.440000  75.582000
 1    60.754000  61.226000  61.666000  62.086000  62.494000  62.895000
 2    57.231000  58.192000  59.042000  59.770000  60.373000  60.858000
 3    76.281000  76.652000  77.031000  77.389000  77.702000  77.963000
 5    69.851434  70.041054  70.223894  70.408016  70.598298  70.793957
 ..         ...        ...        ...        ...        ...        ...
 258  72.710000  73.122000  73.513000  73.875000  74.206000  74.504000
 260  63.208000  63.508000  63.786000  64.046000  64.291000  64.523000
 261  54.701000  55.888000  57.201000  58.545000  59.830000  60.993000
 262  55.194000  56.588000  57.872000  59.011000  59.982000  60.775000
 263  51.122000  52.975000  54.800000  56.516000  58.053000  59.360000

           2015       2016
 0    75.725000  75.867000
 1    63.288000  63.673000
 2    61.241000  61.547000
 3    78.174000  78.345000
 5    70.994541  71.198456
 ..         ...        ...
 258  74.770000  75.013000
 260  64.743000  64.953000
 261  61.981000  62.774000
 262  61.397000  61.874000
 263  60.398000  61.163000

 [235 rows x 59 columns]}

**Country Dataset**

In [ ]:
print(data['country'])

    Country Code                      Region          IncomeGroup  \
0            ABW   Latin America & Caribbean          High income
1            AFG                  South Asia           Low income
2            AGO          Sub-Saharan Africa  Lower middle income
3            ALB       Europe & Central Asia  Upper middle income
4            AND       Europe & Central Asia          High income
..           ...                         ...                  ...
258          XKX       Europe & Central Asia  Lower middle income
259          YEM  Middle East & North Africa  Lower middle income
260          ZAF          Sub-Saharan Africa  Upper middle income
261          ZMB          Sub-Saharan Africa  Lower middle income
262          ZWE          Sub-Saharan Africa           Low income

                                          SpecialNotes     TableName  \
0    SNA data for 2000-2011 are updated from offici...         Aruba
1    Fiscal year end: March 20; reporting period fo...   Afghanistan
2                                                  NaN        Angola
3                                                  NaN       Albania
4    WB-3 code changed from ADO to AND to align wit...       Andorra
..                                                 ...           ...
258  WB-3 code changed from KSV to XKX to align wit...        Kosovo
259  Based on official government statistics and In...   Yemen, Rep.
260  Fiscal year end: March 31; reporting period fo...  South Africa
261  The base year is 2010. National accounts data ...        Zambia
262  Fiscal year end: June 30; reporting period for...      Zimbabwe

     Unnamed: 5
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
258         NaN
259         NaN
260         NaN
261         NaN
262         NaN

[263 rows x 6 columns]

In [ ]:
columns_to_drop = ['IncomeGroup', 'SpecialNotes', 'TableName']
country.drop(columns=columns_to_drop, inplace=True)

KeyError: "['IncomeGroup', 'SpecialNotes', 'TableName'] not found in axis"